<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GC crontab stuff....</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Grandcentral is waiting for you....</h1>

        <form class="ui form" action="/cronjobs" method="post">
            <div class="field">
                <label>Crontab</label>
                <input type="text" name="crontab" placeholder="Enter Crontab...">
            </div>
            <div class="field">
                <label>Job</label>
                <input type="text" name="job" placeholder="Enter Job...">
            </div>
            <div class="field">
                <label>Enabled</label>
                <input type="checkbox" name="enabled" checked>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for job in jobs %}
        <div class="ui segment">
            <p class="ui big header">{{job.id }} | {{ job.crontab }} | {{ job.job }}</p>

            {% if job.enabled == False %}
            <span class="ui gray label">Disabled</span>
            {% else %}
            <span class="ui green label">Enabled</span>
            {% endif %}

            <a class="ui blue button" href="/cronjobs/{{ job.id }}">Update</a>
            <!-- <a class="ui red button" href="/cronjobs/{{ job.id }}">Delete</a> -->
            <button class="ui red button" onclick="deleteJob('{{ job.id }}')">Delete</button>
        </div>
        {% endfor %}

        <script>
            function deleteJob(id) {
                fetch('/cronjobs/' + id, {
                    method: 'DELETE',
                    timeout: 1500, // wait 1.5 seconds for response
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        alert('Error deleting job');
                    }
                });
            }
            </script>

</body>

</html>
